---
- name: Add elasticsearch repo key.
  apt_key: id=D88E42B4 url=https://packages.elastic.co/GPG-KEY-elasticsearch state=present validate_certs=no

- name: Add elasticsearch repo.
  apt_repository:
    repo="deb http://packages.elastic.co/elasticsearch/2.x/{{ ansible_os_family|lower }} stable main"
    update_cache=yes

- name: Install elasticsearch from repo.
  apt: pkg=elasticsearch update_cache=yes state=latest

- name: install monitor elasticsearch plugins
  elasticsearch_plugin: name={{ item }} state=present
  with_items:
    - license
    - marvel-agent

- name: configure elasticsearch.yml
  template: src=elasticsearch.yml.j2 dest=/etc/elasticsearch/elasticsearch.yml
  notify: restart elasticsearch
- name: Start elasticsearch service
  service: name=elasticsearch state=started
  
- name: Make sure we start elasticsearch on boot
  service: name=elasticsearch enabled=yes
